<!DOCTYPE html>
<html lang="en">

<!-- What'cha looking for, maybe github.com/mrmattbusby/mrmattbusby.github.io? Yes, I made this. Check the README on how-to yourself. -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} {{ page.author }} {{ site.time | date: "%Y-%m" }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="icon" href="/assets/favicon.png?w=32" sizes="32x32" type="png">
  <link rel="shortcut icon" href="/assets/favicon.png?w=32" sizes="32x32" type="image/png">
</head>

<body>
  <main class="container">
    <section class="content">
      {{ content }}
      
      <hr />

      <ul class="flatlist">
        <li>🌐 <a href="MrMattBusby.github.io">MrMattBusby.github.io</a></li>
        <li>📅 {{ site.time | date: "%Y-%m-%d" }}</li>
        <li>🖨 <a href="#" onclick="window.print(); return false;">to PDF</a></li>
        <li><em>* working/exposure</em></li>
      </ul>
    </section>
  </main>
</body>
</html>
